mixin box(image,title)
    .destination
        .destination-image
            .image-overlay
            img.destination-picture(src=image)
            span.note Must See 
        .destination-content 
            span.destination-time Sep 28 10:00 AM - 1:00 PM
            h3.destination-title=title 
            .destination-rating 
                i.fa-solid.fa-star(style='color: #e5df34;')
                span.destination-rating-count   4.8 (12 reviews)

